@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,regular,700&display=swap');

* {
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
    color: inherit;
}

a:visited {
    color:inherit;
}

ul {
    margin: 0;
    padding: 0;

}
p {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    background: #b9a9a9;
}
.app {
    padding: 20px;
}